.TrainerContainer {
    background-image: url('../../assets/greenpattern.png'),url('../../assets/Rectangle\ 17011.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    padding: 60px; 
    margin-bottom: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
    overflow: hidden;
}

.carouselInner {
    display: flex;
}

.carousel_item {
    transition: transform 0.6s ease;
}

.carousel_item.active {
    transform: translateX(0);
}

.carousel_control_prev,
.carousel_control_next {
    width: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}

.carousel-control-prev {
    margin-left: -30px;
}

.carousel-control-next {
    margin-right: -30px;
}
