.box{
  background-color: 
  #5A8C75;  
  color: #ffffff;
  border-radius: 50px;
  z-index: 2;
}
.custom_btn_outline_dark {
    color: #fff;
    background-color: transparent;
    border: 1px solid white; 
    border-radius: 10px;
    padding: 10px;
    outline: none;
  }
  
  .custom_btn_outline_dark:hover {
    color: #343a40; 
    background-color: #fff;
  }
  .sponsers{
    display: flex;
    justify-content: center;
    /* gap: 3px; */
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    flex-wrap: wrap;
  }

  .sponsers img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    object-fit: cover;
  }
  .sponsers_logo_container{
   display: flex;
   align-items: center;
    height: 100%;
    width: 20% ;
  }
    