

.faq_container {
  justify-content: center;
  border: 3px solid #5A8C75;
  margin-bottom: 100px;
  border-radius: 68px;
  padding: 16px;
}

.expand {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: beat 1s infinite;
  transition: transform 0.3s ease-in-out;
}

.expand:hover {
  animation: none;
  cursor: pointer;
}

/* .puzzle {
  width: 200px;
  height: auto;
  position: absolute;
  right: 0;
  top: 50px;
}

@media (max-width: 1200px) {
  .puzzle {
    width: 150px;
    top: 40px;
  }
}

@media (max-width: 992px) {
  .puzzle {
    width: 120px;
    top: 30px;
  }
}

@media (max-width: 768px) {
  .puzzle {
    width: 100px;
    top: 20px;
  }
} */

@media (max-width: 576px) {
  .puzzle {
    width: 80px;
    top: 10px;
  }
}

@keyframes beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
