.testimonial {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
}

.user-icon {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

.user-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.testimonial-text {
    font-style: italic;
    color: #555;
}

.ready_to_upskill_btn{
    background-color:  #008F71 !important;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px; 
}